@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 90%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    font-style: normal;
}
